.gym {
  @include wrap-desktop;
  display: flex;
  padding: 120px 103px 120px 163px;
}

.gym__photo-tablet,
.gym__photo-mobile,
.gym__video-tablet,
.gym__video-mobile {
  display: none;
}

.gym__title {
  @include title-desktop;
  color: $dark-blue-color;
  margin: 46px 0 0 0;
}

.gym__description-container {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin-right: 22px;
}

.gym__description-container span {
  display: block;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $dark-blue-color;
  margin-top: 9px;
  margin-bottom: 39px;
}

.gym__description-container p {
  font-family: $roboto-condensed;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue-color;
  margin: 0 0 8px 0;
}

.gym__photo-container {
  width: 723px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.gym__video-container {
  position: relative;
  height: 228px;
  width: 364px;
  margin-right: 359px;
  margin-top: -114px;
}

.gym__video-container img {
  position: absolute;
  top: 0;
  left: 0;
}

.gym__video-container button {
  position: relative;
  display: block;
  margin: 65px auto 0;
  width: 100px;
  height: 100px;
  border: none;
  background: url("../img/play.svg") no-repeat center;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background: url("../img/play-hover.svg") no-repeat center;
  }
}


@media (max-width: $tablet-width) {
  .gym {
    @include wrap-tablet;
    padding: 99px 45px 100px;
    flex-direction: column;
  }

  .gym__photo-desktop,
  .gym__photo-mobile,
  .gym__video-desktop,
  .gym__video-mobile {
    display: none;
  }

  .gym__photo-tablet,
  .gym__video-tablet {
    display: block;
  }

  .gym__title {
    @include title-tablet;
    margin: 0 auto;
  }

  .gym__description-container {
    width: 100%;
    margin-right: 0;
  }

  .gym__description-container span {
    margin: 10px auto 33px;
  }

  .gym__description-container p {
    margin: 0 auto 43px;
    width: 502px;
    text-align: center;
  }

  .gym__photo-container {
    width: 100%;
    align-items: center;
  }

  .gym__video-container {
    height: 167px;
    width: 266px;
    margin-right: 0;
    margin-top: -84px;
  }

  .gym__video-container img {
    height: 167px;
  }

  .gym__text-desktop {
    display: none;
  }

  .gym__video-container button {
    margin: 48px auto 0;
    width: 73px;
    height: 73px;
    background: url("../img/play.svg") no-repeat center;
    background-size: 73px 73px;

    &:hover {
      background: url("../img/play-hover.svg") no-repeat center;
      background-size: 73px 73px;
    }
  }
}

@media (max-width: $mobile-width) {
  .gym {
    padding: 68px 0 70px;
  }

  .gym__title {
    @include title-mobile;
    margin: 0;
  }

  .gym__photo-desktop,
  .gym__photo-tablet,
  .gym__video-desktop,
  .gym__video-tablet {
    display: none;
  }

  .gym__photo-mobile,
  .gym__video-mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .gym__video-container img {
    height: auto;
  }

  .gym__description-container {
    padding: 0 15px;
  }

  .gym__description-container span {
    margin: 7px 0 24px;
  }

  .gym__description-container p {
    margin: 0 auto 33px;
    width: 100%;
    padding-right: 32px;
    text-align: left;
  }

  .gym__video-container {
    width: 100%;
    margin-top: 40px;
  }

  .gym__video-container button {
     margin: 15% auto 0;
  }
}
