.reviews {
  @include wrap-desktop;
  padding-bottom: 90px;
}

.reviews__title {
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $dark-blue-color;
  text-align: center;
  margin: 0 0 54px 0;
}

.reviews__container {
  position: relative;
  width: 48.3%;
  margin: 0 auto;
}

.reviews__arrow-left svg,
.reviews__arrow-right svg {
  fill: none;
}

.reviews__arrow-left,
.reviews__arrow-right {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 43.4%;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.reviews__arrow-left {
  left: -57px;
}

.reviews__arrow-right {
  transform: rotate(180deg);
  right: -57px;
}

.reviews__list {
 @include list-default;
}


.reviews__item {
  display: block;
  width: 100%;
  background-color: #1c3374;
  position: relative;
  padding: 54px 62px 57px 170px;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  margin-bottom: 30px;
}

.reviews__avatar {
  position: absolute;
  top: 62px;
  left: 62px;
}

.reviews__item h3 {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $white-color;
  margin: 0 0 13px 0;
}

.reviews__item p {
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white-color;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .reviews {
    @include wrap-tablet;
    padding: 0 101px 70px;
  }

  .reviews__title {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 44px 0;
  }

  .reviews__container {
    width: 100%;
  }

  .reviews__item {
    padding: 54px 62px 57px 173px;
  }

  .reviews__avatar {
    left: 65px;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    @include wrap-mobile;
    padding: 0 47px 40px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 47px 0;
  }

  .reviews__person {
    display: flex;
  }

  .reviews__avatar {
    width: 68px;
    height: 68px;
    position: static;
    margin-left: 16px;
    margin-right: 15px;
  }

  .reviews__item {
    padding: 40px 25px 35px;
  }

  .reviews__item h3 {
    line-height: 26px;
    margin-top: 7px;
  }

  .reviews__item p {
    text-align: center;
    margin-top: 11px;
  }

  .reviews__arrow-left svg,
  .reviews__arrow-right svg {
    width: 10px;
    height: 19px;
  }

  .reviews__arrow-left {
    left: -32px;
    top: 47%;
  }

  .reviews__arrow-right {
    right: -32px;
    top: 47%;
  }
}
