@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrap-mobile {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin wrap-tablet {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 45px;
}

@mixin wrap-desktop {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;
}

@mixin title-desktop {
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@mixin title-tablet {
  font-size: 42px;
  line-height: 42px;
}

@mixin title-mobile {
  font-size: 32px;
  line-height: 32px;
}
