$mobile-width: 767px;
$tablet-width: 1199px;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;
$white-color: #ffffff;
$dark-blue-color: #102654;
$red-color: #ed0233;
